<%= render :partial => "public/list" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      <h4><span class="text-dark bg-light">会員情報編集</span></h4>
      
      <%= form_with model: @customer, url: customer_path(@customer), local:true do |f| %>
      <div class="col-md-10">
        <table class="table table-borderless">
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address, :size => "45*30"%></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="form-inline">
                <div class="mr-5"><%= f.submit '編集内容を保存', class:"btn btn-success" %></div>
                <%= link_to "退会する", comfirm_path, class:"btn btn-danger" %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
          