<%= render :partial => "admins/list" %>

<%#= flash[:alert] %>
<%#= flash[:notice] %>
<%#= flash[:success] %>
<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      <h4><span class="text-dark bg-light">商品一覧</span></h4>

<div class="text-right"><%= link_to "new!!", new_item_path %></div>


<div class="container px-5 px-sm-0" >
  <div class="row">
    <div class="col-md-10">
      <table class="table table-bordered">
          <tr>
            <td bgcolor="#f5f5f5">商品ID</td>
            <td bgcolor="#f5f5f5">商品名</td>
            <td bgcolor="#f5f5f5">税抜価格</td>
            <td bgcolor="#f5f5f5">ジャンル</td>
            <td bgcolor="#f5f5f5">ステータス</td>
          </tr>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%# link_to(item.name, item_path(item)) %><%= link_to item.name, item_path(item) %></td>
            <!--<td><a href="item_path(@item)"><%#= item.name %></a></td>-->
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.is_active %></td>
          <% end %>
      </table>
    </div>
  </div>
</div>