<%= render :partial => 'admins/list' %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
        
      <h4><span class="text-dark bg-light">商品新規登録</span></h4>

<!--エラー文-->
  <%# if @item.errors.any? %>
    <%#= @item.errors.count %>
      <%# @item.errors.full_messages.each do |message| %>
        <%#= message %>
      <%# end %>
  <%# end %>
    <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
      <table class="table table-borderless ml-5">
        
          <tr>
            <td width="70px">商品画像</td>
            <td width="100px"><%= f.attachment_field :image, size: "100x120", fallback: "noimage.png" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= f.collection_select :genre_id, @genres, :id, :name, {include_blank:'選択してください'} %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.text_field :price %></td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= form_with model: @item, local: true do |f| %>
                <%= f.radio_button :is_active, :true %>
                <%= f.label :item, "販売中", {value: :sale, style: "display: inline-block;"} %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :item, "販売停止中", {value: :stop, style: "display: inline-block;"} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class:'btn btn-secondary' %></td>
          </tr>
        
      </table>
      <% end %>
    </div>
  </div>
</div>
