<%= render :partial => "admins/list" %>

<%#= flash[:notice] %>
<%#= flash[:success]  %>

        
<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      <h4><span class="text-dark bg-light">商品詳細</span></h4>
      
        <!--画像-->
        <div class="items">
          <%= attachment_image_tag @item, :image, size: "50x50", fallback: "no_image.jpg" %>
        </div>
        <!--紹介文-->
        <div class="flex-item">
          <table class="table table-borderless ml-5">
            <tr>
              <td width="20px">商品名</td>  
              <td width="80px"><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>  
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>  
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格(税抜価格)</td>  
              <td><%= @item.price * 1.1 %>円(<%= @item.price %>円)</td>
            </tr>
            <tr>
              <td>販売ステータス</td>  
              <td><%= @item.is_active %></td>
            </tr>
          </table>
          <%= link_to "編集する", edit_item_path, class:'btn btn-secondary' %>
        </div>

        
    </div>
  </div>
</div>
        

  
