<%= render :partial => "admin/list" %>

<h2>ジャンル編集画面</h2>
 <!--エラー文-->
  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のerrorが発生しました
    <% @genre.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  
<div class="m-5">
  <%= form_with model: @genre, url:genre_path(@genre), local:true do |f| %>
  <p>ジャンル名</p>
  <div class="mx-5">
    <%= f.text_field :name %>
  </div>
  <%= f.submit '変更を保存', class:"btn btn-success"%>
<% end %>
</div>