<%= render :partial => 'admins/list' %>

<%#= flash[:alert] %>
<%= flash[:notice] %>
<%= flash[:success] %>

<div class="container pt-2 px-5 px-sm-0" >
  <h4><span class="text-dark bg-light">ジャンル一覧・追加</span></h4>

    <div class="m-5">
      <div class="nav pull-right nav-pills">
        <p>ジャンル名</p>
        <div class="mx-5">
          <%= form_with model: @genre, url: genres_path, local:true do |f| %>
          <%= f.text_field :name %>
        </div>
        <%= f.submit '新規登録', class:"btn btn-success" %>
        <% end %>
      </div>
    </div>


    <div class="col-md-6 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th class="table-active w-40">ジャンル</th>
            <th class="table-active w-15"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td class="w-40"><%= genre.name %></td>
            <td class="w-15 text-center"><%= link_to "編集する", edit_genre_path(genre), class:"btn btn-success" %></td>
          </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>