<%= render :partial => "public/list" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      
      <div class="top">
        <h4><span class="text-dark bg-light">ショッピングカート</span></h4>

        <div class="text-right">
          <%= link_to 'カートを空にする','/cart_items', method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class:"btn btn-danger" %>
        </div>
      </div>
      
      <table class="table table-bordered mt-4">
        <tr>
          <td bgcolor="#D3D3D3" width="300px">商品名</td>
          <td bgcolor="#D3D3D3" width="150px">単価（税込）</td>
          <td bgcolor="#D3D3D3" width="150px">数量</td>
          <td bgcolor="#D3D3D3" width="150px">小計</td>
          <td bgcolor="#D3D3D3" width="100px"></td>
        </tr>
        <% @cart_items.each do |item| %>
        <tr>
          <td>
            <ul class="nav pull-right nav-pills">
              <li class="nav-list"><%= image_tag item.image, size: "50x50", fallback: "noimage.jpg" %></li>
              <li class="nav-list"><%= item.name %></li>
            </ul>
          </td>
          <td><%= item.price %></td>
          <td><%= item.amount :count, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}, { class: 'form-control' , required: true } %>
              <%= link_to "編集する", cart_items_path(@cart_items) %>
          </td>
          <td>小計</td>
          <td><%= link_to "削除する", cart_items_path(@cart_items), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
        <tr>
          <th class="table-borderles"></th>
          <th class="table-borderles"></th>
          <th class="table-borderles"></th>
          <th class="table-borderles"></th>
          <th class="table-borderles"></th>
        </tr>
        <tr>
          <th><%= button_to '買い物を続ける', @cart_items, method: :delete, class: 'fbtn' %></th>
          <th></th>
          <th></th>
          <th>会計金額</th>
          <th>合計金額</th>
        </tr>
        <% end %>
      </table>

    
    
      <div class="justify-content-center">
        <%= button_to '情報入力に進む', '/orders/new', method: :get, class: "btn btn-primary" %>
      </div>
      </div>
      </div>
      </div>
  