<%= render :partial => 'public/list' %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      
    <h4><span class="text-dark bg-light">ログイン</span></h4>
    
    <%= flash[:error] %>
    
    <div class="mt-4">
    <b>会員の方はこちらからログイン</b>

    <div class="mt-2 ml-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
    <div class="field">
      <tr>
        <td><%= f.label :メールアドレス %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td><%= f.label :パスワード %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </div>
    
    <%# if devise_mapping.rememberable? %>
    <!--<div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <!--</div>-->
    <%# end %>
    
    <div class="actions">
      <tr>
        <td></td>
        <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
      </tr>
    </div>
    </table>
    <% end %>
    </div>
    </div>
    
    <div class="mt-4">
      <b>会員登録がお済みでない方</b>
      <div class="mt-2 ml-5">
        <p>　<%= link_to'こちら', new_customer_registration_path %>から会員登録を行ってください。<p>
      </div>
    </div>
    
  
  
 

<%#= render "customers/shared/links" %>
