<%= render :partial => "public/list" %>

<h4>注文情報確認</h4>

<div class="container px-1 px-sm-0" >
  <table>
  <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
    <tr　class="thead-light">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <tr>
      <td><%= f.text_field :image_id %><%= f.text_field :name %><td>
      <td><%= f.text_field :price %><td>
      <td><%= f.text_field :amount %><td>
      <td><%= f.text_field :price %><td>
    </tr>
    <% end %>
  </table>
    
    
<div class>
  <%= form_with model: @orders, url: cart_items_path, local:true do |f| %>
    <tr>
      <th>送料</th>
      <td><%= f.text_field :postage %><td>
    </tr>
    
    <tr>
      <th id="address">商品合計</th>
      <td><%= f.text_field :postage %><td>
    </tr>
    
    <tr>
      <th>請求金額</th>
      <td><%= f.text_field :total_payment %><td>
    </tr>
  <% end %>
  </table>
  
  <%= form_with model: @orders, url: cart_items_path, local:true do |f| %>
  <table>
    <tr>
      <th>送料</th>
      <td><%= f.text_field :postage %><td>
    </tr>
    
    <tr>
      <th id="address">商品合計</th>
      <td><%= f.text_field :postage %><td>
    </tr>
  </table>
  
  <p>支い方法</p><%= f.text_field :payment_method %>
  <p>お届け先</p><%= f.text_field :postal_code %><%= f.text_field :address %><%= f.text_field :name %>
  
  <% end %>
  
<%= f.submit '注文履歴を確定する', class:"btn btn-success" %>
    