<%= render :partial => "public/list" %>

<h4>注文情報確認</h4>

<div class="container px-1 px-sm-0" >
  <table>
  <% @sum = 0 %>
  <% @cart_items.each do |cart_item| %>
    <tr　class="thead-light">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <tr>
      <td><%= attachment_image_tag cart_item.item, :image, size: "50x50", fallback: "noimage.png" %><%= cart_item.item.name %><td>
      <td><%= cart_item.item.price %><td>
      <td><%= cart_item.amount %><td>
      <td><%= cart_item.item.price * cart_item.amount %><td>
    </tr>
    <% @sum +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
    <% end %>
  </table>
  
  <% @order.postage = 800 %>
  <% @order.total_payment = @order.postage + @sum %>
    
<div class>
    <tr>
      <th>送料</th>
      <td><%= @order.postage %><td>
    </tr>
    
    <tr>
      <th>商品合計</th>
      <td><%= @sum %><td>
    </tr>
    
    <tr>
      <th>請求金額</th>
      <td><%= @order.total_payment %><td>
    </tr>
  </table>
  
  
  <p>支い方法</p><%= @order.payment_method %>
  <p>お届け先</p><%= @order.postal_code %><%= @order.address %><%= @order.name %>
  
  <%= link_to '注文を確定する', thanks_path, class:'btn btn-primary btn-block'%>