<%= render :partial => "public/list" %>
<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      
      <h4><span class="text-dark bg-light">注文情報入力</span></h4>
      <%= form_with model: @order, url: confirm_path, local: true do |f| %>
      <%= f.hidden_field :payment_method, value: @order.id %>
      <%= f.hidden_field :address, value: @order.id %>
      <%= f.hidden_field :postal_code, value: @order.id %>
      <%= f.hidden_field :name, value: @order.id %>
      <h5 class="mt-3"><b>注文方法</b></h5>
      <div class="pl-4">
        <div>
          <%= f.radio_button :payment_method, "クレジットカード" %>
          <%= f.label :payment_method, "クレジットカード" %>
        </div>
        
        <div>
          <%= f.radio_button :payment_method, "銀行振込" %>
          <%= f.label :payment_method, "銀行振込" %>
        </div>
      </div>
      
      
      
      <h5 class="mt-3"><b>お届け先</b></h5>
      <div class="pl-4">
      <%#= form_with model: oder, local: true  do |f| %>
        <div>
          <%= f.radio_button :address_select_method, :my_address %>
          <%= f.label :address_select_method, :ご自身の住所 %>
        <%#= form_with model: @order.current_customer, url: customers_path, local:true do |f| %>
          <div class="pl-4">
            <p>〒<%= @customer.postal_code %><%= @customer.address %> <%= @customer.last_name %><%= @customer.first_name %></p>
          </div>
        </div>
        
        <div class="mt-4">
          <%= f.radio_button :address_select_method, :post_address %>
          <%= f.label :address_select_method, :登録済み住所から選択 %>
          <div class="pl-4">
            <%= f.select :address_id, @addresses.all.map{ |address| [address.full_address, address[:id]] }, {include_blank:'選択してください'}%>
            <%#= f.select :address_id, options_from_collection_for_select(Address.all, :id, :Address::full_address) %>
            <%#= f.collection_select :address_id, @addresses, :id, :full_address, {include_blank:'選択してください'} %>
            <%#= f.collection_select :genre_id, @genres, :id, :name, {include_blank:'選択してください'} %>
          </div>
        </div>
        
        <div class="mt-4">
          <%= f.radio_button :address_select_method, :new_address %>
          <%= f.label :address_select_method, :新しいお届け先 %>
          <div class="pl-4">
            <table>
              <tr>
                <td>郵便番号(ハイフンなし)</td>
                <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", :size => "50*30" %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field :name, placeholder: "令和道子" %></td>
              </tr>
            </table>
          </div>
        </div>
        </div>

        <div class="row justify-content-center">
          <%#= button_to '確認画面へ進む', '/oders/confirm', method: :get, class: "btn btn-primary" %>
          <%= f.submit '確認画面へ進む',class:"btn btn-primary" %>
        </div>

<% end %>