<%= render :partial => "public/list" %>
<div class="container">
  <div class="row no-gutters">
    <h4><span class="text-dark bg-light">注文履歴詳細</span></h4>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-2">
      <div class="mt-4">注文情報</div>
      <table class="table table-bordered">
        <tr>
          <td bgcolor="#D3D3D3">注文日</td>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
          <td bgcolor="#D3D3D3">配送先</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td bgcolor="#D3D3D3">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td bgcolor="#D3D3D3">ステータス</td>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6 mt-2">
      <div class="mt-4">請求情報</div>
      <table class="table table-bordered">
        <tr>
          <td bgcolor="#D3D3D3">商品合計</td>
          <td><%= @order.total_payment %></td>
        </tr>
        <tr>
          <td bgcolor="#D3D3D3">配送料</td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <td bgcolor="#D3D3D3">ご請求額</td>
          <td><%= (@order.total_payment).to_i + (@order.postage).to_i %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <p>注文内容</p>
    <table class="table table-bordered">
      <tr>
        <td bgcolor="#D3D3D3">商品</td>
        <td bgcolor="#D3D3D3">単価（税込）</td>
        <td bgcolor="#D3D3D3">個数</td>
        <td bgcolor="#D3D3D3">小計</td>
      </tr>
      <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= (order_detail.item.price * 1.1).floor %></td>
        <td><%= order_detail.amount %></td>
        <td><%= (order_detail.item.price * 1.1 * order_detail.amount).floor %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>