<%= render :partial => "public/list" %>
<div class="container">
  <div class="row no-gutters">
    <div class="col-10 mt-2">
      
      <h4><span class="text-dark bg-light">注文履歴詳細</span></h4>
      
      <div class="d-flex flex-row">
      <p>注文情報</p>
      <table class="table table-bordered mt-4">
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at %><td>
        </tr>
        <tr>
          <td>配送先</td>
          <td><%= @order.address %><td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @address.payment_method %><td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @address.status %><td>
        </tr>
      </table>

      <p>請求情報</p>
      <table class="table table-bordered mt-4">
        <tr>
          <td>商品合計</td>
          <td><%= @order.total_payment %><td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.postage %><td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @order.total_payment + @order.postage %><td>
        </tr>
      </table>
    </div>

    <p>注文内容</p>
      <table>
        <tr>
          <td>商品</td>
          <td>単価（税込）</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.item %><td>
          <td><%= order.item.price * 1.1 %><td>
          <td><%= order.amount %><td>
          <td><%= order.item.price * 1.1 * order.amount %><td>
        </tr>
      </table>
      
    </div>
  </div>
</div>