<%= render :partial => "public/list" %>

<div class="container my-7" >
  <h4>ログイン</h4>
  <span class="text-white bg-dark font3 my-3">　会員の方はこちらからログイン　</span>

  <div>
    <table class="table-borderles m-3">
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
        <th>パスワード</th>
        <td><%= f.password_field :encrypted_password, autofocus: true, autocomplete: "encrypted_password" %></td>
      </tr>
      </tr>
        <th></th>
        <td><%= f.submit "ログイン", class:"btn btn-primary my-10" %></td>
      </tr>
      <% end %>
    </table>
  </div>


<span class="text-white bg-dark font3">　ログインがお済みでない方　</span>
  <p>　　<%= link_to 'こちら', new_customer_registration_path %>　から新規登録を行ってください。</p>
</div>