<%= render :partial => "public/list" %>

<div class="container px-sm-0" >
  <div class="row">
    <div class="col-md-2">
      <!--ジャンル検索-->
      <table class="table-bordered">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <%# @genres.each do |genre| %>
          <tr>
            <td>
              <%#= genre.name %>
            </td>
          </tr>
          <%# end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <%= @item.image_id %>
    </div>
    <div class="col-md-6">
      <%= @item.name %>
      <%= @item.introduction %>
      <%= @item.price %>
      <div>
        <%= form_with(model: @item, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :count, '個数' %>
            <%= f.select :count, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}, { include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
          </div>
          <div class="form-group">
            <%= f.submit 'カートに入れる', class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>